include requirements.txt
recursive-include wavpack_numcodecs *.c
recursive-include wavpack_numcodecs *.pyx
recursive-include wavpack_numcodecs *.pxd
recursive-include wavpack_numcodecs *.lib
recursive-include wavpack_numcodecs *.dll
recursive-include wavpack_numcodecs/include *.h
recursive-include wavpack_numcodecs/libraries *
